NGLIntegrationAssemblies/IntegrationAssembliesTesting/Web References/NGLHazmatObjectWebService/HazmatObject.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nextgeneration.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://nextgeneration.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nextgeneration.org/">
      <s:element name="LastError">
        <s:complexType />
      </s:element>
      <s:element name="LastErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LastErrorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hazmats" type="tns:ArrayOfClsHazmatObject" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsHazmatObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsHazmatObject" nillable="true" type="tns:clsHazmatObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsHazmatObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HazRegulation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazDesc01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazDesc02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazDesc03" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazPackingGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazPackingDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HazShipInst" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HazLtdQ" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HazMarPoll" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="HazMarStorCat" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HazNMFCSub" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HazNMFC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HazFrtClass" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HazFdxGndOK" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HazFdxAirOK" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HazUPSgndOK" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HazUPSAirOK" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessDataResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LastErrorSoapIn">
    <wsdl:part name="parameters" element="tns:LastError" />
  </wsdl:message>
  <wsdl:message name="LastErrorSoapOut">
    <wsdl:part name="parameters" element="tns:LastErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessDataSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessData" />
  </wsdl:message>
  <wsdl:message name="ProcessDataSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessDataResponse" />
  </wsdl:message>
  <wsdl:portType name="HazmatObjectSoap">
    <wsdl:operation name="LastError">
      <wsdl:input message="tns:LastErrorSoapIn" />
      <wsdl:output message="tns:LastErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessData">
      <wsdl:input message="tns:ProcessDataSoapIn" />
      <wsdl:output message="tns:ProcessDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HazmatObjectSoap" type="tns:HazmatObjectSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LastError">
      <soap:operation soapAction="http://nextgeneration.org/LastError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessData">
      <soap:operation soapAction="http://nextgeneration.org/ProcessData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HazmatObjectSoap12" type="tns:HazmatObjectSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LastError">
      <soap12:operation soapAction="http://nextgeneration.org/LastError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessData">
      <soap12:operation soapAction="http://nextgeneration.org/ProcessData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HazmatObject">
    <wsdl:port name="HazmatObjectSoap" binding="tns:HazmatObjectSoap">
      <soap:address location="http://nglwsdev70.nextgeneration.com/HazmatObject.asmx" />
    </wsdl:port>
    <wsdl:port name="HazmatObjectSoap12" binding="tns:HazmatObjectSoap12">
      <soap12:address location="http://nglwsdev70.nextgeneration.com/HazmatObject.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>