NGLIntegrationAssemblies/IntegrationAssembliesTesting/Web References/NGLPalletTypeObjectWebService/PalletTypeObject.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nextgeneration.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://nextgeneration.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nextgeneration.com/">
      <s:element name="LastError">
        <s:complexType />
      </s:element>
      <s:element name="LastErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LastErrorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PalletTypes" type="tns:ArrayOfClsPalletTypeObject" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsPalletTypeObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsPalletTypeObject" nillable="true" type="tns:clsPalletTypeObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsPalletTypeObject">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsImportDataBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PalletType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PalletTypeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PalletTypeWeight" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PalletTypeHeight" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PalletTypeWidth" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PalletTypeDepth" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PalletTypeVolume" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PalletTypeContainer" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsImportDataBase" />
      <s:element name="ProcessDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessDataResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LastErrorSoapIn">
    <wsdl:part name="parameters" element="tns:LastError" />
  </wsdl:message>
  <wsdl:message name="LastErrorSoapOut">
    <wsdl:part name="parameters" element="tns:LastErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessDataSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessData" />
  </wsdl:message>
  <wsdl:message name="ProcessDataSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessDataResponse" />
  </wsdl:message>
  <wsdl:portType name="PalletTypeObjectSoap">
    <wsdl:operation name="LastError">
      <wsdl:input message="tns:LastErrorSoapIn" />
      <wsdl:output message="tns:LastErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessData">
      <wsdl:input message="tns:ProcessDataSoapIn" />
      <wsdl:output message="tns:ProcessDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PalletTypeObjectSoap" type="tns:PalletTypeObjectSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LastError">
      <soap:operation soapAction="http://nextgeneration.com/LastError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessData">
      <soap:operation soapAction="http://nextgeneration.com/ProcessData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PalletTypeObjectSoap12" type="tns:PalletTypeObjectSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LastError">
      <soap12:operation soapAction="http://nextgeneration.com/LastError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessData">
      <soap12:operation soapAction="http://nextgeneration.com/ProcessData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PalletTypeObject">
    <wsdl:port name="PalletTypeObjectSoap" binding="tns:PalletTypeObjectSoap">
      <soap:address location="http://nglwsdev70.nextgeneration.com/PalletTypeObject.asmx" />
    </wsdl:port>
    <wsdl:port name="PalletTypeObjectSoap12" binding="tns:PalletTypeObjectSoap12">
      <soap12:address location="http://nglwsdev70.nextgeneration.com/PalletTypeObject.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>