NGLPCMilerAssemblies/NGLTrimbleServices/Service References/TrimbleServiceReference/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://pcmiler.alk.com/APIs/REST/v1.0/Service.svc?xsd=xsd0" namespace="http://pcmiler.alk.com/APIs/v1.0" />
  <xs:simpleType name="DayOfWeek">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sunday" />
      <xs:enumeration value="Monday" />
      <xs:enumeration value="Tuesday" />
      <xs:enumeration value="Wednesday" />
      <xs:enumeration value="Thursday" />
      <xs:enumeration value="Friday" />
      <xs:enumeration value="Saturday" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DayOfWeek" nillable="true" type="tns:DayOfWeek" />
  <xs:complexType name="ArrayOfNullableOfDiagnosticsTypeR_P_Sv8sTz">
    <xs:sequence>
      <xs:element xmlns:q1="http://pcmiler.alk.com/APIs/v1.0" minOccurs="0" maxOccurs="unbounded" name="DiagnosticsType" nillable="true" type="q1:DiagnosticsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNullableOfDiagnosticsTypeR_P_Sv8sTz" nillable="true" type="tns:ArrayOfNullableOfDiagnosticsTypeR_P_Sv8sTz" />
</xs:schema>