NGLPCMilerAssemblies/NGLTrimbleServices/Service References/TrimbleServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ALK.PCM.Model.BusinessModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ALK.PCM.Model.BusinessModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://pcmiler.alk.com/APIs/REST/v1.0/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTrafficIncident">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrafficIncident" nillable="true" type="tns:TrafficIncident" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrafficIncident" nillable="true" type="tns:ArrayOfTrafficIncident" />
  <xs:complexType name="TrafficIncident">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescriptionLong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionShort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Locations" nillable="true" type="q1:ArrayOfArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrafficIncident" nillable="true" type="tns:TrafficIncident" />
</xs:schema>